.logo_place_footer {
    background-image: url(../../../images/logo_place_footer.svg);
    background-size: 183px 35px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}