.logo_place_header {
    background-image: url(../../../images/logo_place_header.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 30px;
    left: 64px;
  }