.khan__buy-link {
    margin: 0;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    margin-left: 48px;
    cursor: pointer;
    transition: opacity 0.3s linear;
}